
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Content/JS/JavaScript.js"></script>
@Scripts.Render("~/bundles/JS")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Welcome TO Index Page
    </div>
</body>
</html>
